.contri-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 960px;
}

.contri-image-container {
  text-align: center;
  margin: auto;
  max-width: 960px;
}

.contri-image {
  position: relative;
  max-width: 100%;
  align-items: center;
}
.contri-para {
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
