.header1 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-30px);
  background-color: rgba(19, 19, 19, 0.3);
  position: fixed;
  z-index: 100;

  .logo-container {
    height: auto;
    width: 100px;

    .logo {
      height: 80px;
      width: 160px;
    }
  }
  nav {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    padding-left: 50px;

    .menu {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;
      width: 100%;
      height: 100%;
      list-style: none;
      max-width: 720px;
    }

    .menu li {
      width: 125px;
      height: 50px;
      transition: background-position-x 0.9s linear;
      text-align: center;

      .dropdown {
        position: relative;

        display: inline-block;

        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
        }
        &:hover {
          display: block;
          background-color: rgba(255, 255, 255, 0.762);
          .options {
            color: #d94f5c;
          }
          .dropdown-content {
            display: block;

            .options {
              padding: 10px;
              margin-bottom: 15px;
              margin-top: 20px;
              color: grey;
              &:hover {
                color: #d94f5c;
              }
            }
          }
        }
      }

      .options,
      a {
        font-size: 22px;
        color: white;
        text-decoration: none;
        transition: all 0.45s;
        cursor: pointer;
        height: 40px;
        font-family: "Comic Sans MS", cursive, sans-serif;
        overflow: hidden;
      }

      &:hover {
        background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
        animation: line 1s;
      }

      &:hover a {
        color: #d94f5c;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @keyframes line {
      0% {
        background-position-x: 390px;
      }
    }
  }
}
