.background-image-header {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.header-filter:after,
.header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}
.main-raised {
  margin: -400px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main {
  background: #fff;
  position: relative;
  z-index: 3;
}

.image-container {
  text-align: center;
}

.profile-image {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
}

.name {
  position: relative;
  padding-top: 45px;
  text-align: center;

  h6 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.title {
  margin-bottom: 25px;
  min-height: 32px;
  color: #3c4858;
  font-weight: 700;
  font-size: 35px;
  font-family: "Roboto Slab", "Times New Roman", serif;
}
.description {
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.work-title {
  font-size: 15px;
}
.features {
  margin: auto;
  max-width: 960px;

  .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 32px;
    padding: 0px 24px 50px;
    justify-content: center;
    img {
      max-width: 100%;
      position: relative;
    }
    .para {
      color: black;
      h1 {
        font-size: 1.8rem;
        font-weight: 900;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      p {
        font-size: 1.1rem;
        letter-spacing: 0.2px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 20px;
        text-align: left;
      }
      .forScroll {
        margin-top: 50px;
      }
    }
  }
}
.contri {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}
