.hero-header-container {
  background-size: cover;
  height: 90vh;
  position: relative;

  &:before {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    );
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.hero-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.back1 {
  background-color: lightgreen;
}
.back2 {
  background-color: #d94f5c;
}
.back3 {
  background-color: lightskyblue;
}
